
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../static/img/archives-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="color:white;">{{$parent.l['archive']}}</h1>
                        <hr class="small">
                        <span class="subheading">{{$parent.l['subheading_archive']}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <a href="#/admin/post" class="btn btn-primary" role="button" ng-if="AuthService.isLoggedIn()">
                    <i class="fa fa-plus"></i>New
                </a>
                <hr ng-if="AuthService.isLoggedIn()">
                <ul class="archives" ng-repeat="blog in blogs | orderBy:'-date' track by $index">
                    {{years[$index] = (blog.date | date:"yyyy");""}}
                    <h3 class="section-heading" ng-if="$index==0||years[$index-1]!=years[$index]">
                        {{years[$index]}}
                    </h3>
                    <li class="row">
                        <div class="col-sm-9">
                            <a href="#/p={{blog.$id}}">{{blog.title}}</a>
                            <a href="#/admin/edit={{blog.$id}}" style="color: #808080;font-family: 'Lora', 'Times New Roman', serif;font-size: 18px;font-style: italic;margin-top: 0;margin-bottom: 18px;" ng-if="AuthService.isLoggedIn()">{{$parent.l['edit']}}</a>
                            <a href="" ng-click="deleteBlog(blog)" style="color: #808080;font-family: 'Lora', 'Times New Roman', serif;font-size: 18px;font-style: italic;margin-top: 0;margin-bottom: 18px;" ng-if="AuthService.isLoggedIn()">{{$parent.l['delete']}}</a>
                        </div>
                        <div class="col-sm-3 text-muted">
                            <time>{{blog.date | date:"MM-dd @ H:mm"}}</time>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>