
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../static/img/tag-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="color:white;">{{$parent.l['tags']}}</h1>
                        <hr class="small">
                        <span class="subheading">{{$parent.l['subheading_tag']}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <!-- <p class="text-center"><h3>TAGS</h3></p>
                    <hr> -->
                    <p class="post-meta">
                        <span ng-repeat="(key, value) in tags">
                            <a href="#/tag={{key}}" style="font-weight:300px;font-size:{{fontsize=(BlogService.getTagMax()!=1&&tags.length>1)?(value.count/BlogService.getTagMax()*(24-14)+14):18;fontsize}}px;">{{key}} ({{value.count}})</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr>